<div class="body">
    <div class="main-content">
    <div class="header" color="primary">
        <span class="home" (click)="backtohome()" routerLink="landing-page" #headName>Jo Start Up's</span>
        <div class="middle">
          
         
        </div>
        <div class="right-side">
        <button class="log" (click)="logout()" *ngIf="userstate$ | async as userState;else notLoggedIn">Logout</button>
        <ng-template #notLoggedIn>
          <button  routerLink="/auth/login" class="log">login</button>
        </ng-template>
        <button class="midbutton"  routerLink="/request">request a start Up</button>
        <button *ngIf="admin" class="menue" mat-button [matMenuTriggerFor]="menu" color="white">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          
          
          <button *ngIf="admin" mat-menu-item routerLink="/admin-page" >admin page</button>
          <button *ngIf="admin"  mat-menu-item routerLink="/users-list" >users list</button>
          
        </mat-menu>

        
      </div>
    </div>
  



<router-outlet></router-outlet>
</div>

<footer class="footer">
   
    <div #content>
        <div class="header" >
            <span (click)="backtohome()" routerLink="landing-page" #headName>Jo Start Up's</span>
          
          
          
             <!-- <button   (click)="share()" class="material-icons">share</button> -->
             <!-- <button (click)="makePDF()" class="material-icons">download</button> -->
    
          
        </div>
    </div>
  </footer>
</div>
