<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


<div class="container">
    <div class="content">
        <div>
            <p id="name" class="cursor">{{data.name}}</p>
            <p id="founder" class="cursor">{{data.founderName}}</p>
            <p id="sectors" class="cursor">{{data.sectors}}</p>
        </div>
        
        <div class="info">
            <p class="cursor"> <i class="material-icons cursor">email</i> {{data.email}}</p>
            <p class="cursor"> <i class="material-icons cursor">map</i> City of origin {{data.city}}</p>
            <p type="date" class="cursor"> <i class="material-icons cursor">event</i> Founded in {{data.year}}</p>
            <p class="cursor"> <i class="material-icons cursor">groups</i> Number of employees {{data.empNum}}</p>
            <p id="url" class="cursor"> <i class="material-icons cursor">language</i> {{data.url}}</p>
            
            
        </div>
    </div>
    <div class="image">
        
        <img class="inner-image" src="{{data.logo}}" alt="">
    </div>
</div>