<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />







<div class="container">
  <section class="firstSection">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque ea odio pariatur perspiciatis repellendus neque accusamus, deserunt sequi nesciunt consequatur hic recusandae doloremque itaque aliquid laboriosam. Impedit nostrum optio provident voluptatum dolorum, amet possimus porro eaque dolor quia, odio natus. Sint, in perferendis officia neque placeat maiores nesciunt est rem fugit vitae architecto, a molestias ullam, ipsum provident possimus! Cupiditate asperiores soluta adipisci consectetur illum quas alias maiores impedit doloribus libero. Molestiae fugiat nemo provident magnam rem asperiores, officia esse recusandae est sed. Consectetur suscipit praesentium eligendi aliquid vero quidem, aperiam iure odio, quasi nulla maxime at mollitia accusantium laboriosam!</p>
  </section>
  
    <img src="assets\images\image2.jpg" 
    alt="Photo by Christina @ wocintechchat.com on Unsplash">
  
</div>
<div   class="card-container">
  <div  *ngFor="let startup of startups ; let i = index" class="card-container"(click)="navitoinfo()" >
    
    <mat-card class="example-card"  >
      <mat-card-header>
        <mat-card-title>{{startup.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{startup.logo}}" alt="Photo of {{startup.name}} logo">
    <mat-card-content>
      <p>
        {{startup.discription}}
      </p>
    </mat-card-content>
    </mat-card>
  </div>
</div>

<footer class="footer">
  <!-- <button   (click)="share()" class="material-icons">share</button> -->
  <!-- <button (click)="makePDF()" class="material-icons">download</button> -->
</footer>



