.header{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.header > span{
    font-size: xx-large;
    cursor:default;
}

.menue{
    border-radius: 50%;
    scale: 150%;
}
.firstSection{
   width: 50%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.firstSection p{
    font-size: 15px;
}

.container{
    background-image: url(src\assets\images\pexels-pixabay-258966.jpg);
    background-color: black;
    
    background-blend-mode:luminosity;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
     display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
}

.example-card {
    max-width: 250px;
    height: 330px;
    display: flex;
    border-radius: 25px;
    box-shadow: -1px -1px 34px -3px rgba(0,0,0,0.85);    margin-left: 20px;
    margin-right: 20px;
  }
  .example-card > img{
    max-width: 250px;
    min-width: 250px;
    
  }
.example-card:hover{
    transform: scale(105%);
    transition-duration: 0.3s;
 }
  


 .card-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 35px;

 }

 .footer >.material-icons{
    color: blue;
    border: none;
    background-color: white;
    height: 50px;
    width: 50px;
 }

 .filter{
    margin-top: 35px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

.filterbtn{
    margin-left: 20px;
    width: 100px;
    height: 35px;
    background:white;
    backface-visibility: hidden;
    border-radius: .375rem;
    border-style: solid;
    border-width: .125rem;
    border-color: black;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
}
.filterbtn:hover{
    background: black;
    color: white;
}