
.container{
    margin-top: 150px;
    margin-bottom: 150px;
    
}

mat-form-field{
    display: block;
    text-align: center;
    width: 750px;
    margin: auto;
    
}
button{
    display: block;
    text-align: center;
    width: 750px;
    margin: auto;
}
form > mat-error{
    text-align: center;
}
.signup{
    margin-top: 20px;
    text-align: center;
    font-size: large;
}